<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      <h1 class="code-line" data-line-start=0 data-line-end=1><a id="Hola_Bienvenido_a_mi_Portafolio_0"></a>¡Hola! Bienvenido a mi Portafolio</h1>
<p class="has-line-data" data-line-start="2" data-line-end="5">&lt;p align=“left”&gt;
    <br> &lt;img src=&quot;<a href="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGdnN293amZ6Z3d6OTE4NmxmOGgxdzkyMDAxamRieW5oajRxbmppOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Bx39JhLGMMikTef3Mw/giphy.gif">https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGdnN293amZ6Z3d6OTE4NmxmOGgxdzkyMDAxamRieW5oajRxbmppOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Bx39JhLGMMikTef3Mw/giphy.gif</a>&quot;
    width=“220” align=“left” style=“margin-right: 15px;”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="6" data-line-end="7">Soy un apasionado de la ciencia de datos, la Inteligencia de Negocios , las Finanzas Corporativas y los Sistemas Informáticos. Cuento con experiencia desarrollando proyectos de análisis y visualización de datos, modelado dimensional, modelado analítico,
    ingeniería de de datos y construcción de KPIs. Mi objetivo es convertir datos crudos en información valiosa para la toma de decisiones estratégica siguiendo metodologías de trabajo como KANBAN, CRISP-DM y SCRUM.</p>
<p class="has-line-data" data-line-start="8" data-line-end="9">Aquí encontrarás una selección de algunos de mis proyectos analíticos y de ingeniería más destacados. Te invito a revisarlos y contactarme en caso de querer saber un poco más sobre ellos. 😉</p>
<p class="has-line-data" data-line-start="10" data-line-end="14">
    <a href="mailto:ingsaidalioviedo@gmail.com"><img src="https://img.shields.io/badge/Correo%20Electr%C3%B3nico-Mail-9A0000?style=flat&amp;logo=gmail&amp;logoColor=white" alt="Email"></a>
    <br>
    <a href="https://wa.me/573228622777"><img src="https://img.shields.io/badge/WhatsApp-Chat-9A0000?style=flat&amp;logo=whatsapp&amp;logoColor=white" alt="WhatsApp"></a>
    <br>
    <a href="https://www.linkedin.com/in/saidalioviedo/"><img src="https://img.shields.io/badge/LinkedIn-Perfil-9A0000?style=flat&amp;logo=linkedin" alt="LinkedIn"></a>
    <br>
    <a href="https://github.com/saob007"><img src="https://img.shields.io/badge/GitHub-Perfil-9A0000?style=flat&amp;logo=github&amp;logoColor=white" alt="GitHub"></a>
</p>
<p class="has-line-data" data-line-start="15" data-line-end="16">&lt;span class=“espacio”&gt;&lt;/span&gt;</p>
<h2 class="code-line" data-line-start=17 data-line-end=18><a id="_reas_de_trabajo_17"></a>🚀 Áreas de trabajo</h2>
<p class="has-line-data" data-line-start="18" data-line-end="23"><img src="https://img.shields.io/badge/AD-An%C3%A1lisis%20de%20Datos-878787?style=flat-square" alt="AD">
    <br>
    <img src="https://img.shields.io/badge/CD-Ciencia%20de%20Datos-878787?style=flat-square" alt="CD">
    <br>
    <img src="https://img.shields.io/badge/BI-Inteligencia%20de%20Negocios-878787?style=flat-square" alt="BI">
    <br>
    <img src="https://img.shields.io/badge/EM-Empresa-878787?style=flat-square" alt="EM">
    <br>
    <a href="#-habilidades"><img src="https://img.shields.io/badge/-Habilidades%20t%C3%A9cnicas-9A0000?style=flat-square&amp;logo=codeforces&amp;logoColor=white" alt="Habilidades"></a>
</p>
<h2 class="code-line" data-line-start=24 data-line-end=25><a id="_Mis_proyectos_destacados_24"></a>📋 Mis proyectos destacados</h2>
<h3 class="code-line" data-line-start=25 data-line-end=26><a id="ADBI_Datos_para_la_inclusin_Anlisis_de_las_dinmicas_crediticias_de_FINAGRO_20212024_en_la_inclusin_financiera_diversificacin_agropecuaria_y_equidad_de_gnero_en_zonas_rurales_y_de_posconflicto_en_Colombiahttpsgithubcomsaob007DataAnalysisAgrocrditosFINAGRO2023_25"></a>[AD-BI] <a href="https://github.com/saob007/Data-Analysis---Agrocr-ditos-FINAGRO-2023">Datos para la inclusión: Análisis de las dinámicas crediticias de FINAGRO (2021-2024) en la inclusión financiera, diversificación agropecuaria y equidad de género en zonas rurales y de posconflicto en Colombia</a></h3>
<ul>
    <li class="has-line-data" data-line-start="26" data-line-end="27"><strong>Resumen:</strong> Análisis exploratorio de datos y visualización de insights y KPIs basado en el historial de operaciones crediticias del Fondo para el Financiamiento del Sector Agropecuario (FINAGRO) entre enero de 2021 y septiembre de 2024.
        El estudio se centra en evaluar el impacto de los créditos colocados en tres dimensiones clave: inclusión financiera, diversificación agropecuaria y equidad de género.</li>
    <li class="has-line-data" data-line-start="27" data-line-end="28"><strong>Áreas de trabajo específicas:</strong> Análisis exploratorio de datos (EDA), modelado dimensional, creación de tablero interactivo, contrucción de KPIs e inteligencia de negocios.</li>
    <li class="has-line-data" data-line-start="28" data-line-end="29"><strong>Herramientas:</strong> Jupyter Notebook, Python, R, Power BI, Pandas, Numpy, Matplotlib, Seaborn, DAX.</li>
    <li class="has-line-data" data-line-start="29" data-line-end="31"><strong>Resultados:</strong> Identificación y medición de la cobertura de créditos en tres dimensiones de estudio.</li>
</ul>
<p class="has-line-data" data-line-start="31" data-line-end="34">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/dashboard_preview.png” alt=“Proyecto de análisis de dinámicas crediticas” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="35" data-line-end="36"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="37" data-line-end="54">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1bcYKzPEcbFmeR_titLeLmPuMW2jmsXN2/view?usp=sharing">https://drive.google.com/file/d/1bcYKzPEcbFmeR_titLeLmPuMW2jmsXN2/view?usp=sharing</a>&quot; title=“Visualiza el resumen ejecutivo del proyecto”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/resumen.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1OBtzkjvAvFkALHtV9D6mnRBfXR90X038/view?usp=drive_link">https://drive.google.com/file/d/1OBtzkjvAvFkALHtV9D6mnRBfXR90X038/view?usp=drive_link</a>&quot; title=“Visualiza el informe documental
    de la investigación”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/documento_pdf.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://www.kaggle.com/code/saidalioviedobeltran/eda-para-agrocr-ditos-finagro-202101-202409">https://www.kaggle.com/code/saidalioviedobeltran/eda-para-agrocr-ditos-finagro-202101-202409</a>&quot; title=“Visita el cuaderno
    de exploración analítica de los datos en Kaggle”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/ipynb2.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://project.novypro.com/OhEhpc">https://project.novypro.com/OhEhpc</a>&quot; title=“Visualiza el tablero de informe en Novypro”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/power_bi.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/drive/folders/1qbubBjVsBsnivm2bAqC-CJZGejwTpZ8u?usp=drive_link">https://drive.google.com/drive/folders/1qbubBjVsBsnivm2bAqC-CJZGejwTpZ8u?usp=drive_link</a>&quot; title=“Visualiza imágenes de los
    productos visuales”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/images.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="55" data-line-end="58">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=59 data-line-end=60><a id="ADCD_Anlisis_exploratorio_y_contruccin_de_un_modelo_predictivo_de_desercin_del_talento_humano_para_una_empresa_de_desarrollo_de_tecnologa_automotrizhttpsgithubcomsaob007Modelado_retencion_personal_proyecto_59"></a>[AD-CD] <a href="https://github.com/saob007/Modelado_retencion_personal_proyecto">Análisis exploratorio y contrucción de un modelo predictivo de deserción del talento humano, para una empresa de desarrollo de tecnología automotriz</a></h3>
<ul>
    <li class="has-line-data" data-line-start="60" data-line-end="61"><strong>Resumen:</strong> Desarrollo de modelos predictivos mediante regresión logística, bosque aleatorio (Random Forest) y árboles de decisión potenciados por gradientes (XGBoost) para predecir desvinculación de empleados en una empresa del sector
        industrial. El objetivo es identificar el modelo con mejor rendimiento, proporcionando a los stakeholders una herramienta para predecir riesgos de deserción y optimizar la retención del talento humano.</li>
    <li class="has-line-data" data-line-start="61" data-line-end="62"><strong>Áreas de trabajo específicas:</strong> Análisis exploratorio de datos (EDA), análisis estadístico, modelación analítica para problemas de clasificación e inteligencia de negocios.</li>
    <li class="has-line-data" data-line-start="62" data-line-end="63"><strong>Herramientas:</strong> Logistic Regression, Random Forest Algorithm, XGBoost Algorithm, scikit-learn , Anaconda, JupyterLab, Python, Pyplot, seaborn, statsmodel.</li>
    <li class="has-line-data" data-line-start="63" data-line-end="65"><strong>Resultados:</strong> Modelo predictivo de deserción del talento humano, Análisis estadístico de los factores causales de retención del talento humano.</li>
</ul>
<p class="has-line-data" data-line-start="65" data-line-end="68">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/notebook_proyecto.png” alt=“Proyecto de predicción sobre deserción laboral” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="69" data-line-end="70"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="71" data-line-end="79">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/14gjjlcuHwZKhZKSsiMhb16HnbqYIt6ii/view?usp=drive_link">https://drive.google.com/file/d/14gjjlcuHwZKhZKSsiMhb16HnbqYIt6ii/view?usp=drive_link</a>&quot; title=“Visualiza el resumen ejecutivo
    del proyecto de modelado”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/resumen.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://www.kaggle.com/code/saidalioviedobeltran/modelo-predictivo-retencion-proyecto">https://www.kaggle.com/code/saidalioviedobeltran/modelo-predictivo-retencion-proyecto</a>&quot; title=“Visita el cuaderno de exploración
    analítica de los datos en Kaggle”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/ipynb2.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="80" data-line-end="83">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=84 data-line-end=85><a id="BI_Informe_Visual_y_Tablero_de_Anlisis_de_Subsidios_Consumo_y_Facturacin_del_Servicio_de_Agua_en_la_ciudad_de_Sincelejo_2020httpsgithubcomsaob007Tablero_subsidios_servicio_agua_84"></a>[BI] <a href="https://github.com/saob007/Tablero_subsidios_servicio_agua">Informe Visual y Tablero de Análisis de Subsidios, Consumo y Facturación del Servicio de Agua en la ciudad de Sincelejo (2020)</a></h3>
<ul>
    <li class="has-line-data" data-line-start="85" data-line-end="86"><strong>Resumen:</strong> Diseño de un tablero de informe estático en Looker Studio para el análisis de la distribución y asignación de subsidios otorgados por la Secretaría de Planeación de la Alcaldía de Sincelejo en el año 2020 en relación con
        el servicio de agua potable y alcantarillado. Se busca identificar patrones en la cobertura, consumo, facturación y subsidios, proporcionando información clave para la toma de decisiones en políticas internas de subsidios.</li>
    <li class="has-line-data" data-line-start="86" data-line-end="87"><strong>Áreas de trabajo específicas:</strong> Creación de informes estáticos para el análisis de datos.</li>
    <li class="has-line-data" data-line-start="87" data-line-end="88"><strong>Herramientas:</strong> Looker Studio, Google Workspace, LookML, Microsoft Power Point, Microsoft Excel, .</li>
    <li class="has-line-data" data-line-start="88" data-line-end="90"><strong>Resultados:</strong> Tablero de informe estático para el análisis de cobertura, mediciones y subsidios del servicio de acueducto y alcantarillado.</li>
</ul>
<p class="has-line-data" data-line-start="90" data-line-end="93">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/dashboard_preview_planeacion.png” alt=“Proyecto tablero de subsidios | Sincelejo 2020” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="94" data-line-end="95"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="96" data-line-end="104">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/12HZY8SrlE5HSe9Z_D8ljwpEIXc_W3x4G/view?usp=sharing">https://drive.google.com/file/d/12HZY8SrlE5HSe9Z_D8ljwpEIXc_W3x4G/view?usp=sharing</a>&quot; title=“Visualiza el resumen ejecutivo del proyecto
    BI”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/resumen.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://lookerstudio.google.com/s/k3qeuXaVn2o">https://lookerstudio.google.com/s/k3qeuXaVn2o</a>&quot; title=“Visualiza el tablero en Looker Studio”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/looker_studio.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="105" data-line-end="108">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=109 data-line-end=110><a id="BI_Diseo_de_un_tablero_interctivo_para_el_monitoreo_de_la_calidad_del_proceso_de_atencin_ejecutado_por_la_Personera_de_Manizaleshttpsgithubcomsaob007Tablero_monitoreo_calidad_atenciones_109"></a>[BI] <a href="https://github.com/saob007/Tablero_monitoreo_calidad_atenciones">Diseño de un tablero interáctivo para el monitoreo de la calidad del proceso de atención ejecutado por la Personería de Manizales</a></h3>
<ul>
    <li class="has-line-data" data-line-start="110" data-line-end="111"><strong>Resumen:</strong> Diseño e implementación de un tablero de control interactivo en Power BI Service para el seguimiento y análisis de métricas del proceso de atención al usuario en la Personería de Manizales. Este tablero servirá como una herramienta
        clave para monitorear la calidad del servicio, facilitando la extracción visual de insights, apoyando la toma de decisiones estratégicas.</li>
    <li class="has-line-data" data-line-start="111" data-line-end="112"><strong>Áreas de trabajo específicas:</strong> Creación de productos dinámicos para la visualización de datos (tablero interáctivo).</li>
    <li class="has-line-data" data-line-start="112" data-line-end="113"><strong>Herramientas:</strong> Power BI, Power Point, SODA Frameworks Project, AZURE DB.</li>
    <li class="has-line-data" data-line-start="113" data-line-end="115"><strong>Resultados:</strong> Tablero interactivo único para el seguimiento de indicadores y mediciones del área de atención al cliente.</li>
</ul>
<p class="has-line-data" data-line-start="115" data-line-end="118">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/dashboard_monitoreo_calidad_atenciones.png” alt=“Proyecto tablero de monitoreo” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="119" data-line-end="120"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="121" data-line-end="129">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1rERvBfoocET4kmWstNeQRmTti62XhVhD/view?usp=sharing">https://drive.google.com/file/d/1rERvBfoocET4kmWstNeQRmTti62XhVhD/view?usp=sharing</a>&quot; title=“Visualiza el resumen ejecutivo del proyecto
    BI”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/resumen.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://project.novypro.com/LnC4eD">https://project.novypro.com/LnC4eD</a>&quot; title=“Visualiza el tablero de informe en Novypro”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/power_bi.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="130" data-line-end="133">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=134 data-line-end=135><a id="ADCD_Estudio_exploratorio_e_impacto_de_las_caractersticas_operativas_en_la_rentabilidad_mensual_de_fondos_de_inversin_colectiva_en_2024httpsgithubcomsaob007Modelado_rentabilidad_fic_proyecto_134"></a>[AD-CD] <a href="https://github.com/saob007/Modelado_rentabilidad_fic_proyecto">Estudio exploratorio e impacto de las características operativas en la rentabilidad mensual de fondos de inversión colectiva en 2024</a></h3>
<ul>
    <li class="has-line-data" data-line-start="135" data-line-end="136"><strong>Resumen:</strong> Análisis de las características operativas de los Fondos de Inversión Colectiva (FIC) en Colombia y su impacto en la rentabilidad mensual de cada fondo, usando datos de 2024 suministrados por la Superintendencia Financiera.
        Aunque las variables individuales no mostraron correlaciones significativas con la rentabilidad, el modelo Random Forest logró un buen desempeño ajustandose a los datos, superando a otros modelos y demostrando que sus predicciones son medianamente
        correctas. El análisis destacó que el valor unitario de las operaciones y el valor de cierre diario de los fondos son las variables más influyentes, mientras que el número de inversionistas y la administración de los fondos por una entidad de
        tipo SF-Sociedad Fiduciaria también tienen peso significativo en menor medida.</li>
    <li class="has-line-data" data-line-start="136" data-line-end="137"><strong>Áreas de trabajo específicas:</strong> Análisis exploratorio de datos (EDA), análisis estadístico, modelación analítica para problemas de regresión.</li>
    <li class="has-line-data" data-line-start="137" data-line-end="138"><strong>Herramientas:</strong> Lineal Regression, Random Forest Regressor, XGBoost Regressor, Lasso Regression, MLP Regressor, scikit-learn , Anaconda, JupyterLab, Python, Pyplot, seaborn, FireDucks, Numpy, Pickle.</li>
    <li class="has-line-data" data-line-start="138" data-line-end="140"><strong>Resultados:</strong> Análisis de la distribución y evolución de la rentabilidad de los fondos de inversión colectiva en el periodo 2024, Modelo analítico predictivo de la rentabilidad mensual, Identificación de los factores significativamente
        incidentes en la rentabilidad.</li>
</ul>
<p class="has-line-data" data-line-start="140" data-line-end="143">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/modelado_rentabilidad_preview.png” alt=“Proyecto de modelado analítico sobre rentabilidad mensual de los FIC 2024” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="144" data-line-end="145"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="146" data-line-end="154">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1OpTEPoYtq_hc2NCiiLwo7Wwd6HLEhDnj/view?usp=">https://drive.google.com/file/d/1OpTEPoYtq_hc2NCiiLwo7Wwd6HLEhDnj/view?usp=</a>&quot; title=“Visualiza el resumen ejecutivo del proyecto”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/resumen.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://www.kaggle.com/code/saidalioviedobeltran/proyecto-rentabilidad-fic">https://www.kaggle.com/code/saidalioviedobeltran/proyecto-rentabilidad-fic</a>&quot; title=“Visita el cuaderno de exploración analítica de los datos
    en Kaggle”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/ipynb2.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="155" data-line-end="158">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=159 data-line-end=160><a id="ADBI_Anlisis_de_Datos_en_iGaming_Insights_visuales_para_la_toma_de_decisiones_estratgicas_segn_patrones_de_depsito_en_usuarios_de_servicios_de_entretenimiento_y_apuestashttpsgithubcomsaob007Eda_dashboard_gambling_proyectogit_159"></a>[AD-BI] <a href="https://github.com/saob007/Eda_dashboard_gambling_proyecto.git">Análisis de Datos en iGaming: Insights visuales para la toma de decisiones estratégicas según patrones de depósito en usuarios de servicios de entretenimiento y apuestas</a></h3>
<ul>
    <li class="has-line-data" data-line-start="160" data-line-end="161"><strong>Resumen:</strong> Se realizó un análisis integral de los datos de usuarios, depósitos y costos en una empresa ecuatoriana de iGaming/iGambling, con el fin de identificar patrones de comportamiento, evaluar la divergencia entre predicciones
        internas y datos reales, y desarrollar un tablero BI para optimizar la interpretación y toma de decisiones. Los hallazgos obtenidos proporcionan información estratégica para mejorar las acciones de adquisición y retención de los usuarios.</li>
    <li class="has-line-data" data-line-start="161" data-line-end="162"><strong>Áreas de trabajo específicas:</strong> Análisis de datos , Modelado dimensional y Visualización de datos para BI.</li>
    <li class="has-line-data" data-line-start="162" data-line-end="163"><strong>Herramientas:</strong> SQLite, Jupyter Notebook, Power BI, Photoshop 2024, Python, Pandas, Numpy, Matplotlib, Seaborn, DAX.</li>
    <li class="has-line-data" data-line-start="163" data-line-end="165"><strong>Resultados:</strong> Análisis del comportamiento de los depósitos y costos en servicios gambling, Perfilación de usuarios de servicios gambling, Tablero de informe para el seguimiento de las principales variables y métricas asociadas a la
        los juegos de apuesta.</li>
</ul>
<p class="has-line-data" data-line-start="165" data-line-end="168">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/dashboard_deposits_preview.png” alt=“Proyecto de análisis de datos en iGaming/iGambling” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="169" data-line-end="170"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="171" data-line-end="185">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1HUaNH7exiojvJgxsSwohvfLr7_TmTYAd/view?usp=sharing">https://drive.google.com/file/d/1HUaNH7exiojvJgxsSwohvfLr7_TmTYAd/view?usp=sharing</a>&quot; title=“Visualiza el resumen ejecutivo del proyecto”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/resumen.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://www.kaggle.com/code/saidalioviedobeltran/notebook-proyecto-analisis-depositos-igaming">https://www.kaggle.com/code/saidalioviedobeltran/notebook-proyecto-analisis-depositos-igaming</a>&quot; title=“Visita el cuaderno
    de exploración analítica de los datos en Kaggle”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/ipynb2.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://project.novypro.com/YzOmrR">https://project.novypro.com/YzOmrR</a>&quot; title=“Visualiza el tablero de informe en Novypro”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/power_bi.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/drive/folders/13cBGpvd6hwJxY4v4TGl2HGE2oT5-UIKy?usp=sharing">https://drive.google.com/drive/folders/13cBGpvd6hwJxY4v4TGl2HGE2oT5-UIKy?usp=sharing</a>&quot; title=“Visualiza imágenes del Tablero de
    Informe”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/images.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="186" data-line-end="189">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=190 data-line-end=191><a id="ADCD_En_proceso_Anlisis_de_Datos_para_el_Control_y_la_Prevencin_del_Fraude_y_el_Lavado_de_Dinero_en_los_Servicios_Financieros_de_Amazon_190"></a>[AD-CD] [<strong><em>En proceso:</em></strong> Análisis de Datos para el Control y la Prevención del Fraude y el Lavado de Dinero en los Servicios Financieros de Amazon]</h3>
<ul>
    <li class="has-line-data" data-line-start="191" data-line-end="192"><strong>Resumen:</strong> Proceso EDA y construcción de un modelo predictivo para el reconocimiento de transacciones fraudulentas categorizadas como riesgosas por el Sistema de Autocontrol y Gestión del Riesgo Integral de Lavado de Activos, Financiación
        del Terrorismo y Financiamiento de la Proliferación de Armas de Destrucción Masiva (SAGRILAFT).</li>
    <li class="has-line-data" data-line-start="192" data-line-end="193"><strong>Descripción:</strong> Análisis exploratorio de datos (EDA), modelación analítica para problemas de clasificación e inteligencia de negocios.</li>
    <li class="has-line-data" data-line-start="193" data-line-end="194"><strong>Herramientas:</strong> Python, Jupyter Lab as IDE, R Studio, Pyplot.</li>
    <li class="has-line-data" data-line-start="194" data-line-end="196"><strong>Resultados:</strong> Modelo estadístico para la implementación de “Machine Learning” .</li>
</ul>
<p class="has-line-data" data-line-start="196" data-line-end="199">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/proyect_preview.png” alt=“Proyecto en curso” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="200" data-line-end="201"><strong>Aún no se publican los resultados (Status = inProgress)</strong></p>
<p class="has-line-data" data-line-start="202" data-line-end="205">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=206 data-line-end=207><a id="EM_Formulacin_de_un_plan_de_negocio_para_la_creacin_de_una_agencia_especializada_en_la_gestin_y_cobranza_de_carteras_de_deuda_direccionada_a_PYMES_de_la_ciudad_de_Monterahttpsgithubcomsaob007Plan_negocios_empresa_cobranza_206"></a>[EM] <a href="https://github.com/saob007/Plan_negocios_empresa_cobranza">Formulación de un plan de negocio para la creación de una agencia especializada en la gestión y cobranza de carteras de deuda, direccionada a PYMES de la ciudad de Montería</a></h3>
<ul>
    <li class="has-line-data" data-line-start="207" data-line-end="208"><strong>Resumen:</strong> Plan estratégico de negocio para SOLUCIONES DE COBRANZA S.A.S. (SODECO), una empresa regional especializada en la gestión de cobranza de carteras crediticias comerciales para PYMES y que busca posicionarse como un aliado
        estratégico, ofreciendo soluciones que reduzcan la morosidad y mejoren la liquidez empresarial. Todo esto con base en un análisis del mercado local y proyecciones financieras realistas, garantizando estrategias alineadas con las necesidades de
        los clientes y los objetivos comerciales.</li>
    <li class="has-line-data" data-line-start="208" data-line-end="209"><strong>Áreas de trabajo específicas:</strong> Credito y cobranza, administración de la liquidez, gestión de proyectos, estudios de operabilidad.</li>
    <li class="has-line-data" data-line-start="209" data-line-end="210"><strong>Herramientas:</strong> Microsoft Excel, Microsoft Word, Gantter para la gestión de proyectos, Google Workspace, Microsoft Forms.</li>
    <li class="has-line-data" data-line-start="210" data-line-end="212"><strong>Resultados:</strong> Plan integral estratégico para la puesta en marcha de una unidad productiva de negocio .</li>
</ul>
<p class="has-line-data" data-line-start="212" data-line-end="215">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/proyecto_empresarial_sodeco.png” alt=“Proyecto empresarial” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="216" data-line-end="217"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="218" data-line-end="229">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1AKkYS4mxXTNlpEmiWfTu16NR9q_FhtGE/view?usp=sharing">https://drive.google.com/file/d/1AKkYS4mxXTNlpEmiWfTu16NR9q_FhtGE/view?usp=sharing</a>&quot; title=“Visualiza el plan de negocios del proyecto
    empresarial”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/documento_pdf.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://docs.google.com/spreadsheets/d/1KiFMaMhRsP7lS4Ns-G-lJn86xOvhr3yT/edit?usp=sharing&amp;ouid=101365071772666300093&amp;rtpof=true&amp;sd=true">https://docs.google.com/spreadsheets/d/1KiFMaMhRsP7lS4Ns-G-lJn86xOvhr3yT/edit?usp=sharing&amp;ouid=101365071772666300093&amp;rtpof=true&amp;sd=true</a>&quot;
    title=“Visualiza los estudios del proyecto”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/excel_file.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://drive.google.com/file/d/1zNyx6qzrviUQtpPPqjDUQUAmPORyjt9d/view?usp=sharing">https://drive.google.com/file/d/1zNyx6qzrviUQtpPPqjDUQUAmPORyjt9d/view?usp=sharing</a>&quot; title=“Visualiza de la presentación del proyecto”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/presentation_file.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="230" data-line-end="233">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/separator2.png” alt=&quot;&quot; width=“100%”&gt;
    <br> &lt;/p&gt;
</p>
<h3 class="code-line" data-line-start=234 data-line-end=235><a id="EM_Diseo_del_sistema_de_reclutamiento_y_seleccin_del_personal_basado_en_competencias_para_la_fundacin_clnica_del_ro_y_su_contribucin_en_el_desempeo_laboralhttpsrepositoriounicordobaeducohandleucordoba3895_234"></a>[EM] <a href="https://repositorio.unicordoba.edu.co/handle/ucordoba/3895">Diseño del sistema de reclutamiento y selección del personal basado en competencias para la fundación clínica del río, y su contribución en el desempeño laboral</a></h3>
<ul>
    <li class="has-line-data" data-line-start="235" data-line-end="236"><strong>Resumen:</strong> Reconstrucción detallada del proceso de diseño de un sistema de reclutamiento y selección de personal del área asistencial y administrativa, basado en competencias para una entidad del sector salud.</li>
    <li class="has-line-data" data-line-start="236" data-line-end="237"><strong>Áreas de trabajo específicas:</strong> Ingeniería de procesos, levantamiento documental y planeación del trabajo.</li>
    <li class="has-line-data" data-line-start="237" data-line-end="238"><strong>Herramientas:</strong> Microsoft Excel, Microsoft Word, Dynamica SAP, Canvas.</li>
    <li class="has-line-data" data-line-start="238" data-line-end="240"><strong>Resultados:</strong> Formatos y manuales de métodos &amp; procedimientos .</li>
</ul>
<p class="has-line-data" data-line-start="240" data-line-end="243">&lt;p align=“center”&gt;
    <br> &lt;img src=“assets/img/informe_sistema.png” alt=“Proyecto de diseño de procesos RR.HH.” width=“900”&gt;
    <br> &lt;/p&gt;
</p>
<p class="has-line-data" data-line-start="244" data-line-end="245"><strong>Consulta los resultados del proyecto según tu interés sin tener que descargar ningún archivo:</strong></p>
<p class="has-line-data" data-line-start="246" data-line-end="254">&lt;p align=“left”&gt;
    <br> &lt;a href=&quot;<a href="https://repositorio.unicordoba.edu.co/server/api/core/bitstreams/21f02e45-c2bb-4a80-83bc-bc929433816c/content">https://repositorio.unicordoba.edu.co/server/api/core/bitstreams/21f02e45-c2bb-4a80-83bc-bc929433816c/content</a>&quot;
    title=“Visualiza el informe del proyecto de práctica”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/documento_pdf.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;a href=&quot;<a href="https://repositorio.unicordoba.edu.co/server/api/core/bitstreams/43ffc4ed-95d1-47f0-b4bb-c78e0269f2f5/content">https://repositorio.unicordoba.edu.co/server/api/core/bitstreams/43ffc4ed-95d1-47f0-b4bb-c78e0269f2f5/content</a>&quot;
    title=“Visualiza los anexos del informe”&gt;
    <br> &lt;img class=“icon” src=“assets/img/icons/documento_pdf.png” width=“50”&gt;
    <br> &lt;/a&gt;
    <br> &lt;/p&gt;
</p>
<h2 class="code-line" data-line-start=257 data-line-end=258><a id="_Habilidades_257"></a>📚 Habilidades</h2>
<h3 class="code-line" data-line-start=259 data-line-end=260><a id="_Lenguajes_de_Programacin_259"></a>🖥️ Lenguajes de Programación</h3>
<p class="has-line-data" data-line-start="260" data-line-end="266"><img src="https://img.shields.io/badge/SQL-4479A1?style=plastic&amp;logo=postgresql&amp;logoColor=white" alt="SQL">
    <br>
    <img src="https://img.shields.io/badge/Python-3776AB?style=plastic&amp;logo=python&amp;logoColor=white" alt="Python">
    <br>
    <img src="https://img.shields.io/badge/R-276DC3?style=plastic&amp;logo=r&amp;logoColor=white" alt="R">
    <br>
    <img src="https://img.shields.io/badge/JavaScript-F7DF1E?style=plastic&amp;logo=javascript&amp;logoColor=black&amp;logoWidth=15" alt="JavaScript">
    <br>
    <img src="https://img.shields.io/badge/Visual%20Basic-5C2D91?style=plastic&amp;logo=dotnet&amp;logoColor=white" alt="Visual Basic">
    <br>
    <img src="https://img.shields.io/badge/DAX-9A0000?style=plastic&amp;logo=powerbi&amp;logoColor=white" alt="DAX"></p>
<h3 class="code-line" data-line-start=267 data-line-end=268><a id="_Herramientas_de_Visualizacin_267"></a>📈 Herramientas de Visualización</h3>
<p class="has-line-data" data-line-start="268" data-line-end="275"><img src="https://img.shields.io/badge/Power%20BI-F2C811?style=plastic&amp;logo=power-bi&amp;logoColor=black&amp;logoWidth=15" alt="Power BI">
    <br>
    <img src="https://img.shields.io/badge/Looker%20Studio-4285F4?style=plastic&amp;logo=looker&amp;logoColor=white" alt="Looker Studio">
    <br>
    <img src="https://img.shields.io/badge/Tableau-E97627?style=plastic&amp;logo=tableau&amp;logoColor=white" alt="Tableau">
    <br>
    <img src="https://img.shields.io/badge/Excel-217346?style=plastic&amp;logo=microsoft-excel&amp;logoColor=white" alt="Excel">
    <br>
    <img src="https://img.shields.io/badge/Matplotlib-11557C?style=plastic&amp;logo=matplotlib&amp;logoColor=white" alt="Matplotlib">
    <br>
    <img src="https://img.shields.io/badge/Seaborn-0077B6?style=plastic&amp;logo=python&amp;logoColor=white" alt="Seaborn">
    <br>
    <img src="https://img.shields.io/badge/Plotly-3F4F75?style=plastic&amp;logo=plotly&amp;logoColor=white" alt="Plotly"></p>
<h3 class="code-line" data-line-start=276 data-line-end=277><a id="_Paquetes_de_Python_276"></a>🐍 Paquetes de Python</h3>
<p class="has-line-data" data-line-start="277" data-line-end="286"><img src="https://img.shields.io/badge/Selenium-43B02A?style=plastic&amp;logo=selenium&amp;logoColor=white" alt="Selenium">
    <br>
    <img src="https://img.shields.io/badge/Django-092E20?style=plastic&amp;logo=django&amp;logoColor=white" alt="Django">
    <br>
    <img src="https://img.shields.io/badge/Pandas-150458?style=plastic&amp;logo=pandas&amp;logoColor=white" alt="Pandas">
    <br>
    <img src="https://img.shields.io/badge/Numpy-013243?style=plastic&amp;logo=numpy&amp;logoColor=white" alt="Numpy">
    <br>
    <img src="https://img.shields.io/badge/Scipy-8CAAE6?style=plastic&amp;logo=scipy&amp;logoColor=white" alt="Scipy">
    <br>
    <img src="https://img.shields.io/badge/Statsmodels-DA291C?style=plastic&amp;logo=python&amp;logoColor=white" alt="Statsmodels">
    <br>
    <img src="https://img.shields.io/badge/Scikit--learn-F7931E?style=plastic&amp;logo=scikitlearn&amp;logoColor=black" alt="Scikit-learn">
    <br>
    <img src="https://img.shields.io/badge/Pickle-005A9C?style=plastic&amp;logoColor=white" alt="Pickle">
    <br>
    <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=plastic&amp;logo=tensorflow&amp;logoColor=white" alt="TensorFlow"></p>
<h3 class="code-line" data-line-start=287 data-line-end=288><a id="_Otras_Herramientas_Especializadas_287"></a>⚙️ Otras Herramientas Especializadas</h3>
<p class="has-line-data" data-line-start="288" data-line-end="295"><img src="https://img.shields.io/badge/Microsoft%20Office%20365-D83B01?style=plastic&amp;logo=microsoftoffice&amp;logoColor=white" alt="Microsoft Office 365">
    <br>
    <img src="https://img.shields.io/badge/Google%20Workspace-4285F4?style=plastic&amp;logo=googleworkspace&amp;logoColor=white" alt="Google Workspace">
    <br>
    <img src="https://img.shields.io/badge/Jupyter%20Lab-F37626?style=plastic&amp;logo=jupyter&amp;logoColor=white" alt="Jupyter Lab">
    <br>
    <img src="https://img.shields.io/badge/Anaconda-44A833?style=plastic&amp;logo=anaconda&amp;logoColor=white" alt="Anaconda">
    <br>
    <img src="https://img.shields.io/badge/SAP-0FAAFF?style=plastic&amp;logo=sap&amp;logoColor=white" alt="SAP">
    <br>
    <img src="https://img.shields.io/badge/Adobe%20Photoshop-001E36?style=plastic&amp;logo=adobephotoshop&amp;logoColor=white" alt="Adobe Photoshop">
    <br>
    <img src="https://img.shields.io/badge/Spyder-FF0000?style=plastic&amp;logo=spyderide&amp;logoColor=white" alt="Spyder"></p>
<p class="has-line-data" data-line-start="296" data-line-end="297">&lt;link rel=“stylesheet” type=“text/css” href=“assets/css/style.css”&gt;</p>
<p class="has-line-data" data-line-start="298" data-line-end="299">&lt;a href=&quot;#top&quot; class=“back-to-top”&gt;⬆&lt;/a&gt;</p>
<hr>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
