@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 1.7; /* Espaciado entre líneas mejorado */
    color: #34495e; /* Color de texto principal */
    background: #f8f9fa; /* Fondo claro */
    padding: 20px;
    max-width: 100%;
    overflow-x: hidden; /* Evita scroll horizontal */
}

/* Títulos */
h1 {
    color: #2c3e50;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid #2980b9;
    padding-bottom: 6px;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background: linear-gradient(to right, #2980b9, #6dd5fa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Efecto de degradado */
}

h2 {
    font-size: 1.5em;
    border-left: 4px solid #2980b9;
    padding-left: 10px;
    background: rgba(41, 128, 185, 0.1); /* Fondo sutil para destacar */
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

/* Enlaces */
a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #1a5276;
    border-bottom: 2px solid #1a5276;
    opacity: 0.8;
    transform: scale(1.05); /* Ligero aumento */
}

/* Párrafos */
p {
    margin-bottom: 18px;
}

/* Contenedor */
.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 25px; /* Más espacio */
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
